<!DOCTYPE html>
<html>
  <head>
    <title>Fitness Session Scheduled</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>

  <body>
    <h1>Fitness Session Scheduled</h1>

    <p><%= @coach.name %> has scheduled a training session with you for <%= @service.title %> on <%= @session.day %> from
    <%= @session.start_time_hour %>:<%= @session.start_time_minutes %> <%= @session.start_time_meridiem %> to
    <%= @session.end_time_hour %>:<%= @session.end_time_minutes %> <%= @session.end_time_meridiem %> at
      <%= @session.location %></p>

    <br>

    <span><%= @session.notes %></span>
  </body>
</html>
